@tailwind base;
@tailwind components;
@tailwind utilities;

.imga {
  height: 200px;
  width: 300px;
  border-radius: 5px;
}

.head {
  display: flex;
  gap: 50px;
}
body {
  background-color: black;
  gap: 20px;
  display: flex;
}
h1 {
  color: white;
  width: 250px;
}
h3 {
  color: rgb(121, 118, 118);
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 10px;
}
.header {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
.main {
  margin-top: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  height: 1000px;
  padding: 20px;
  width: auto;
}
.text {
  width: 300px;
  background-color: rgb(43, 40, 40);
  height: 100vh;
  overflow: scroll;
}
.parents {
  display: flex;
  gap: 2px;
}
.home {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.library {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.borderh {
  border-bottom: 1px solid gray;

  margin-bottom: 30px;
}
.img {
  width: 1500px;
  height: 70px;
}
.icon {
  height: 24px;
  width: 24px;
  margin-left: 50px;
}
.final {
  margin-left: 30px;
}
.head1 {
  height: 80px;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  min-width: 700px;
}
/* .item {
  background-color: rgb(43, 40, 40);
  display: flex;
  gap: 20px;
} */
.text1 {
  margin-left: 20px;
}
.like {
  width: 42px;
  height: 42px;
  transition-property: all;
  transition-duration: 2s;
}
.like:checked + label > img {
  background-color: black;
  animation-name: like;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes like {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(0px, -200px);
  }
  50% {
    transform: translate(0px, -400px);
  }
  75% {
    transform: translate(0px, -200px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.play {
  min-width: 600px;
}
